#myCanvas{
  width: 100vmin;
  height: 100vmin;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  padding: 0px;
  margin: 0px;
  /*http://subtlepatterns.com/ for great wallpapers like this one*/
  background: url(http://shneek.com/codepen/wallpaper/sayagata.png);
}
